
	function drawChart() {
				  var s1 = [2, 6, 7];
				  var s2 = [7, 5, 3];
				  var s3 = [2, 3, 5];
				  var s4 = [1, 7, 2];
				   
				  // chart data
				  var dataArray = [s1, s2, s3, 24];
				   
				  // x-axis ticks
				  var ticks = ['Jan', 'Feb', 'Mar'];
				   
				  // chart rendering options
				  var options = {
				    seriesDefaults: {
				      renderer:$.jqplot.BarRenderer
				    },
				    axes: {
				      xaxis: {
				        renderer: $.jqplot.CategoryAxisRenderer,
				        ticks: ticks
				      }
				    }
				  };
				 
				  // draw the chart
				  $.jqplot('chartDivId', dataArray, options);
				}		