
<html>

	<head>
		
		<script language="javascript" type="text/javascript" src="../../../web-app/js/plugins/jquery.min.js"></script>
		<script language="javascript" type="text/javascript" src="../../../web-app/js/plugins/jquery.jqplot.min.js"></script>
		<link rel="stylesheet" type="text/css" href="../../../web-app/css/jquery.jqplot.css" />


 		   <script type="text/javascript">
	
 		  $(function(){

 
 			  $.jqplot('chart1' ,  [[[1, 2],[3,5.12],[5,13.1],[7,33.6],[9,85.9],[11,219.9]]]);
 			});

	
	    </script>
	</head>
	

   <body>
       <div id="chart1" style="margin-top:20px; margin-left:20px; width:400px; height:300px;" ></div>
    </body>

   
</html>

